.about-wrapper{
	width: 990px ;
	margin: 0 auto ;
	position: relative;
}
.about-title{
	text-align: center;
	background-color: #ddd;
	margin: 5px 0;
}
.about-title h2{
	color: #D37C00 ;
	font-size: 14px;
	line-height: 25px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
.about-main{
	position: relative;
    height: 400px;	
    overflow: hidden;
}

.about-main>img{
	position: absolute;
	left: 0;
	top: 0;
}
.about-main>.top{	
	top: -400px;
}
.about-main>.previous{
	position: absolute;
	background: url("../img/previous.png") left top no-repeat;
    width: 30px;
    height: 54px;
    display: block;
    left: 10px;
    top: 50%;
    margin-top:-27px;
}
.about-main>.previous>span{
	color: #fff;
	line-height: 54px;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	left: -9999px;
}
.about-main>.previous:hover{
	background: url("../img/previous.png") left bottom no-repeat;
	width: 182px;
    cursor: pointer;
}

.about-main>.previous:hover>span{
	left: 50px;
	top: 0;
}


.about-main>.next{
	position: absolute;
	background: url("../img/next.png") right top no-repeat;
    width: 30px;
    height: 54px;
    display: block;
    right: 10px;
    top: 50%;
    margin-top:-27px;
}
.about-main>.next>span{
	color: #fff;
	line-height: 54px;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	right: 9999px;
}
.about-main>.next:hover{
	background: url("../img/next.png") right bottom no-repeat;
	width: 182px;
    cursor: pointer;
}

.about-main>.next:hover>span{
	right: 50px;
	top: 0;
}