/*
重置元素，避免浏览器差异
*/
body,div,ul,li,a,img {
    padding: 0;
    margin: 0;
}
img{ border: none; }

body{	
    font: normal 14px "微软雅黑", "Arial", "Verdana", "sans-serif";
    background: url("../img/homepage-bg-rp.png") repeat-x scroll center top #282828;
    color: #E8E8E8;
    font-size: 75%;
    margin: 0;
    padding: 0;
}

.layout{
    background: url("../img/homepage-bg.jpg") no-repeat scroll center top transparent;
}

.wrapper {
    min-height: 761px;
    width: 1003px;
    margin: 0px auto;
    position: relative;
}

.logo {
    position: absolute;
    left: 502px;
    top: 200px;
}

.language-bar {
    position: absolute;
    left: 550px;
    top: 450px;
}
.language-bar > a {
    display: block;
    float: left;
    margin-left: 25px;
    font-size: 100%;
    background: url("../img/language_sorrow.png") no-repeat scroll 7px 9px #E60511;
    color: #FFF;
    padding: 3px 7px 3px 14px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover { 
color: #000;
}

ul{
    list-style: none; 
}