#product-menu{
    text-align: center;
    background-color: #ddd;
    width: 1000px ;
    margin: 0 auto;
}
#product-menu > ul{
    margin: 0 auto;
    padding: 5px 35px 0 0;
    display: inline-block;
}
#product-menu > ul > li {
    float: left;
    width: 121px;
}
#product-menu a.active{
    color : #D37C00;
}
#product-menu a:hover{
    color : #D37C00;
}
#product-main{
	width: 1000px ;
	height: 461px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	border: 1px solid #D7D7D7;
	background-color: #fff;
}
.slide-left{
	position: absolute;
	left: 4px;
	top: 5px;
	bottom: 4px;
	width: 818px; 
}
.slide-right{
	position: absolute;
	right: 5px;
	top: 5px;
	bottom: 4px;
	width: 166px; 
}
.slide-left > .prev{
    position: absolute;
	background: url("../img/arrow-left.png") left top no-repeat;
    left: 4px;
    width: 30px;
    height: 69px;
    display: block;
    top: 50%;
    margin-top:-35px;	
    z-index: 999;
}

.slide-left > .next{
    position: absolute;
	background: url("../img/arrow-right.png") right top no-repeat;
    right: 4px;
    width: 30px;
    height: 69px;
    display: block;
    top: 50%;
    margin-top:-27px;	
    z-index: 999;
}
.slide-left > .prev:hover{
    background-position: left bottom
}
.slide-left > .next:hover{
    background-position: right bottom
}

.slide-left > .slides ,
.slide-left > .slides > div{
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
}

.active{
	z-index: 99;
}

.slide-right > .up{
	position: absolute;
	background: url("../img/up.png") left top no-repeat;
    left: 0;
    top: 0;
    width: 166px;
    height: 21px;
    display: block;
    z-index: 99;
}

.slide-right > .down{
	position: absolute;
	background: url("../img/down.png") left top no-repeat;
    left: 0;
    bottom: 0;
    width: 166px;
    height: 21px;
    display: block;
    z-index: 99;
}

.slide-right > .pager{
	position: absolute;
	top: 25px;
	bottom: 25px;
	left: 0;
	right: 0;
	overflow: hidden;
}

.slide-right > .pager > .pager-inner{
    position: relative;
    width: 100%;
    overflow: auto;
}
.slide-right > .pager > .pager-inner > a {
    position: relative;
    width: 77px;
    height: 58px;
    display: block;
    float: left;
    margin-bottom: 8px;
    border: 1px solid #fff;
}

.slide-right > .pager > .pager-inner > a > span{
    position: absolute;
    bottom: 2px;
    right: 2px;
    color: #fff;
    font-size: 10px
}

.slide-right > .pager .right{
    margin-left: 8px;
}
.slide-right > .pager a:hover, .slide-right > .pager > .pager-inner > a.active {
    border: 1px solid #D37C00;
}
